@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic|Ubuntu:400,700);

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  font-size: 14px;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number h2 {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Cabin', Helvetica, sans-serif;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

li {
  font-size: 18px;
  font-family: 'Cabin', Helvetica, sans-serif;
  margin-bottom: 10px;
  line-height: 25px;
}

.book-summary li {
  font-size: 14px;
  font-family: 'Cabin', Helvetica, sans-serif;
}
